html body {
  width: 100vw;
  height: 100vh;
}
body {
  display: grid;
  grid-template-columns: [l-body] 20% [l-cont] 60%[r-cont] 20% [r-body];
  grid-template-rows: [t-body] 20% [t-cont] 60% [b-cont] 20% [b-body];

  color: #F5F5F5;
  font-family: 'Almendra', serif;
  margin: 0;
  background-color: #202020;
}
h1 {
  display: grid;
  grid-column: l-cont / r-cont;
  grid-row: t-body / t-cont;
  place-self: center;

  font-size: 5em;
  margin: 0;
  z-index: 1;
  user-select: none;
}
p {
  margin: 0;
}
.background {
  grid-column: l-body / r-body;
  grid-row: t-body / b-body;

  background-size: 100vw 100vh;
  filter: blur(3px);
  opacity: 0.25;
  animation: fadeIn 2s forwards;
}
.container {
  grid-column: l-cont / r-cont;
  grid-row: t-cont / b-cont;

  display: grid;
  grid-template-rows: [t-cont] 25% [b-cont] 75%;

  opacity: 0.95;
  background-color: #101010;
  border: 0.3vw solid black;
  padding: 2% 1% 1% 1%;
}
.container__narration {
  border-bottom: 0.1vw solid #F5F5F5;
  opacity: 0;
  animation: fadeIn 2s forwards; 
}
.container__choices {
  display: grid;
  grid-template-rows: [t-choice-1] 20% [t-choice-2] 20% [t-choice-3] 20% [t-choice-4] 20% [t-choice-5] 20%;
  padding-top: 2%;
  opacity: 0;
  animation: fadeIn 2s forwards;
}
.popup {
  display: grid;
  grid-column: l-body / r-body;
  grid-row: t-body / b-body;
  grid-template-rows: 25% 25% 25% 25%;

  background-color: black;
  opacity: 0.90;
  z-index: 2;
}
.popup__window {
  grid-row: 2 / 3;

  text-align: center;
  border: 0.3vw solid black;
  opacity: 0;
  animation: fadeIn 5s forwards;
}
input {
  font-family: 'Almendra', serif;
}
@keyframes fadeIn {
  100% {opacity: 1;}
}
@keyframes fadeOut {
  100% {opacity: 0;}
}
@keyframes fadeOutHard {
  100% {visibility: hidden; opacity: 0;}
}
#choice-1 {
  grid-rows: t-choice-1 / t-choice-2;
}
#choice-2 {
  grid-rows: t-choice-2 / t-choice-3;
}
#choice-3 {
  grid-rows: t-choice-3 / t-choice-4;
}
#choice-4 {
  grid-rows: t-choice-4 / t-choice-5;
}
#choice-5 {
  grid-rows: t-choice-5 / t-choice-5;
}
#choice-1, #choice-2, #choice-3, #choice-4, #choice-5 {
  border: 0.1vw solid #F5F5F5;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 0.25%;
  cursor: pointer;
}
